* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

h3, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 27.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 320px;
    height: 499px;
    background-color: #fff;
    border-radius: 10px;
}

.qr-code-img {
    margin-bottom: 24px;
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
    color: hsl(218, 44%, 22%);
}

.text {
    text-align: center;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: hsl(216, 15%, 48%);
}
